<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.springframework.org/security/tags">
<head th:replace="fragments/head :: head">
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" href="../../resources/images/favicon.ico" />

	<title>Profile</title>
	<!-- Bootstrap core CSS -->
	<link href="../../resources/css/bootstrap.min.css" rel="stylesheet" />

	<!-- Custom styles for this template -->
	<link href="../../resources/css/jumbotron-narrow.css" rel="stylesheet" />

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>
<body>
	<div class="container">
		<div class="header" th:replace="fragments/top :: navigation"> </div>
		<div class="row marketing">
			<div class="span9">
				<h3>User Info for <span th:text="${user.username}">USERNAME</span>:</h3>
				<div th:include="fragments/top :: alerts"></div>
				
				<form th:action="@{/user/editProfile}" method="post" th:object="${user}" role="form">
					<input type="hidden" th:field="*{username}" id="usernameInput"/>
					<div class="form-group" th:classappend="${#fields.hasErrors('firstName')}? 'has-error'">
						<label class="control-label" for="firstNameInput">First Name:</label>
						<input type="text" th:field="*{firstName}" class="form-control" id="firstNameInput" placeholder="First" />
						<p class="help-block" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
					</div>
					<div class="form-group" th:classappend="${#fields.hasErrors('lastName')}? 'has-error'">
						<label class="control-label" for="lastNameInput">Last Name:</label>
						<input type="text" th:field="*{lastName}" class="form-control" id="lastNameInput" placeholder="Last" />
						<p class="help-block" th:if="${#fields.hasErrors('firstName')}" th:errors="*{lastName}"></p>
					</div>
					<div class="panel-group" id="accordion">
						<div class="panel panel-info">
							<div class="panel-heading">
			 					<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
				  						Change Password	
									</a>
			  					</h4>
							</div>
							<div id="collapseOne" class="panel-collapse collapse" 
									th:classappend="${#fields.hasErrors('password')}? 'in'">
								<div class="panel-body">
									<div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error'">
										<label class="control-label" for="passwordInput">
											New Password:
										</label>
										<input type="password" th:field="*{password}" class="form-control"
											 id="passwordInput" placeholder="New Password" />
										<p class="help-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
											Error message
										</p>
									</div>
									<div class="form-group" th:classappend="${#fields.hasErrors('passwordConfirm')}? 'has-error'">
										<label class="control-label" for="passwordConfirmInput">
											Confirm New Password:
										</label>
										<input type="password" th:field="*{passwordConfirm}" class="form-control" 
											id="passwordConfirmInput" placeholder="Confirm New Password" />
										<p class="help-block" th:if="${#fields.hasErrors('passwordConfirm')}" 
												th:errors="*{passwordConfirm}">
											Error Message
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<button type="submit" class="btn btn-primary">Save</button>
				</form>
				
			</div>
		</div>
		<div class="footer" th:replace="fragments/foot :: copyright">
			<p>&copy; Copyright Notice Here</p>
		</div>
	</div>
	<!-- /container -->


	<div th:replace="fragments/foot :: viewportWorkaround"></div>
	<div th:replace="fragments/foot :: bootstrapJs">
		<script src="../../resources/js/jquery-1.11.1.min.js"></script>
		<script src="../../resources/js/bootstrap.min.js"></script>
	</div>
</body>
</html>